*{
	box-sizing: border-box;
}

body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(../images/zwartevilt/zwartevilt.png); (../images/extra_clean_paper/extra_clean_paper.png);
	font-size: 18px;
	line-height: 34px;
	color: #000b29;
	height: 100%;
}

header{
	background-color: #EDB83D;
	margin: 0 0 30px;
	z-index: 99;
	overflow: auto;
	border-bottom: 10px solid  #D70026;
    width: 100%
}

#nameTitle{
    float: left;
    font-family: "Georgia","Times New Roman",Times,serif;
    text-align: center;
    font-size: 30px;
	text-decoration: none;
}

nav{
	margin-top: 25px;
	background-color: #000B29;
}

nav a{
	color: #EDB83D;
	text-decoration: none;
	margin-left: 15px;
 	padding-left: 15px;
 	line-height: 18px;
}

nav a:first-child{
	border-left: 0 none;
}

.icon-bar{
	background-color: #EDB83D;
}

.icon-bar: hover{
	background-color: #000B29;
	color: #EDB83D;
}

.container{
	clear: both;
	margin: 0 auto;
}

#main-bio{
	background-color: #F8F5F2;
	padding: 30px;
	margin: 0 0 40px 40px;
	width: 100%;
	max-width: 650px;
	border: 1px solid  #D70026;
}

#bio-image{
	height: auto;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
	margin-left: 20px;
}

h1, h2, h3{
	font-family: "Georgia","Times New Roman",Times,serif;
	font-weight: 700;
	color: #000b29;
	margin-bottom: 20px;
}

h1{
	font-size: 30px;
	line-height: 20px;
	border-bottom: 3px solid #D70026;
	padding-bottom: 20px;
}

h2, h3{
	font-size: 22px;
}

p{
	text-align: justify;
	margin-bottom: 20px;
}

p:last-child{
	margin-bottom: 0;
}

/*SIDEBAR*/

/*#webLinks{
	background-color: #F8F5F2;
	border: 1px solid  #D70026;
	width: 100%;
	max-width: 270px;
	padding: 30px;
	margin-bottom: 20px;
}*/

h2, h3, .webLinks{
	border-bottom: 2px solid #D70026;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
	text-align: center;
}


.Weblogo{
	height: 62px;
    width: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

.Weblogo:last-child{
	margin-right: 0px;
}

/*PORTFOLIO PAGE*/


.portfolioImgDiv{
	overflow: auto;
	position: relative;
	float: left;
	margin: 20px 0 25px;
}

.portfolioImgDiv:nth-child(even) {
	margin-right: 40px;
}

.portfolioImgDiv img{
	border: 0 none;
	opacity: .8;
}

.portfolioImgDiv h3{
	border-bottom: 0;
	background-color: #000B29;
    color: #F8F5F2;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}


/*FORM*/
form ul{
	margin-bottom: 20px;
}

form li{
	margin-bottom: 10px;
}

input,
label,
textarea{
	display: block;
	width: 100%;
}

input,
textarea{
	height: 35px;
	border: 1px solid #000B29;
	padding: 0 10px;
	font-size: 14px;
}

textarea{
	height: 200px;
}

button{
	background-color: #000B29; 
	border: 1px solid #000B29; 
	color: #F8F5F2;
	margin-top: 20px;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	font-size: medium;
}

button:hover{
	background-color: #F8F5F2;
	color:  #000B29;
}

/*FOOTER*/
#wrapper{
	min-height: 100%;
	margin-bottom: -100px;
}

#wrapper:after{
	display: block;
}

#wrapper:after, footer{
	content: "";
	height: 100px;
}

footer{
	clear: both;
	display: inline-block;
	background-color: #D70026;
    width: 100%;
    margin-top: 50px;
    border-top: 10px solid #000B29;
}

footer p{
	font-size: 10px;
	padding: 20px;
	text-align: center;
}


@media only screen and (max-width: 980px){
	.col-md-6{
		min-height: 1px;
	}

	.portfolioImgDiv{
		margin: 20px 0 0 25px;
	}


@media only screen and (max-width: 768px){
	.col-md-6{
		min-height:1px;
	}

	.portfolioImgDiv{
		margin: 20px 20px;
	}

}

/*Width that is 640px or less*/
@media only screen and (max-width: 640px){
	.container{
		display: block;
	}


	#main-bio{
		margin: 0 0 40px 30px;
		width: 90%;
	}

	#bio-image{
		width: 100%;
		margin: 10px auto;
	}

	.portfolioImgDiv{
		width: 100%;
		height: auto;
		overflow: auto;
		position: relative;
		float: left;
		margin: 20px 0 25px;
	}

	.portfolioImgDiv img{
		width: 100%;
	}

	.portfolioImgDiv:nth-child(even) {
		margin-right: 0px;
	}
}
